@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

:root {
    --cor-primeira: #F3F5FC;
    --cor-segunda: #0A3871;
    --cor-terceira: #FFFFFF;
    --cor-quarta: #495057;
    --cor-quinta: #343A40;
    --cor-sexta: #D8DFE8;

    --fonte-principal: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primeira);
}

.conteudo {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 1024px;
    top: 622px;
    left: -2277px; 
}

.conteudo__logo {
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
    gap: 40px;
}

.conteudo__criptografia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.conteudo__criptografia__texto {
    background-color: var(--cor-primeira);
    padding: 10px;
    width: 680px;
    height: 48px;
    top: 168px;
    left: 240px;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 32px;
    color: var(--cor-segunda);
    border: var(--cor-primeira);
}

.conteudo__criptografia__confirmacao {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.conteudo__criptografia__confirmacao__alerta {
    display: flex;
    width: 252px;
    height: 18px;
    top: 851px;
    left: 240px;
    gap: 8px;
}

.conteudo__criptografia__confirmacao__alerta__mensagem {
    width: 228px;
    height: 18px;
    opacity: 0.8px;
    font-family: var(--fonte-principal);
    color: var(--cor-quarta);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.conteudo__criptografia__confirmacao__botao {
    width: 680px;
    height: 67px;
    top: 885px;
    left: 240px;
    gap: 24px;
}

.conteudo__criptografia__confirmacao__botao__botao1 {
    background-color: var(--cor-segunda);
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    font-family: var(--fonte-principal);
    color: var(--cor-terceira);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.conteudo__criptografia__confirmacao__botao__botao2 {
    background-color: var(--cor-sexta);
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    gap: 8px;
    font-family: var(--fonte-principal);
    color: var(--cor-segunda);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.conteudo__resultado {
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    background-color: var(--cor-terceira);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo__resultado__criptografia__texto {
    width: 336px;
    height: 781px;
    top: 72px;
    left: 1032px;
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--cor-quarta);
    border: var(--cor-terceira);
}

.conteudo__resultado__criptografia__botao{
    width: 336px;
    height: 67px;
    top: 885px;
    left: 1032px;
    border-radius: 24px;
    border: 1px;
    padding: 24px;
    gap: 8px;
    color: var(--cor-segunda);
}

.conteudo__resultado__inicio__img {
    width: 336px;
}

.conteudo__resultado__inicio__titulo {
    width: 336px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 24px;
    color: var(--cor-quinta);
    text-align: center;
}

.conteudo__resultado__inicio__texto {
    width: 336px;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-quarta);
    text-align: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-segunda);
}

.rodape__link {
    text-decoration: none;
    color: var(--cor-segunda);
}